DATABASE_URL=postgres://postgres:admin@localhost:5432/ecommerce_db //--your db url if hosted--
JWT_SECRET=--your secret code--
PORT=3000
EMAIL_USER=--your registered email--
BREVO_EMAIL_USER=--yout brevo-@smtp-brevo.com--
BREVO_EMAIL_PASS=--your brevo API key--  //NOTE not SMTP key , get API key from brevo dashboard
CLOUDINARY_NAME=--your name--
CLOUDINARY_API=--your key--
CLOUDINARY_SECRET=--your secret--