DATABASE_URL=postgres://postgres:admin@localhost:5432/ecommerce_db //--your db url if hosted--
JWT_SECRET=--your secret code--
PORT=3000
EMAIL_USER=--your mail--
EMAIL_PASS=--your pass--
CLOUDINARY_NAME=--your name--
CLOUDINARY_API=--your key--
CLOUDINARY_SECRET=--your secret--